@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "canela";
    src: url("../fonts/ahrefs-regular.ttf");
  }
  
  .font-canela {
    font-family: Canela, sans-serif;
  }